/*******************/
/***** Desktop *****/
/*****************/
@media screen and (max-width: 992px) {
  .albums-container .row .col {
    width: calc(100% / 4);
    padding: 10px;
  }
}

/*******************/
/***** TABLET *****/
/*****************/
@media screen and (max-width: 768px) {
  .albums-container .row .col {
    width: calc(100% / 2);
    padding: 10px;
  }
}

/*******************/
/*** SMARTPHONE ***/
/*****************/

@media screen and (max-width: 576px) {
  .total-container .sidebar {
    display: none;
  }

  .total-container .main-container {
    width: calc(100% - 50px);
  }

  .total-container .hide-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .upgrade-bar {
    width: calc(100% - 50px);
  }

  .albums-container .row .col {
    width: calc(100% / 2);
    padding: 10px;
  }
}
