/*UTILITIES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/********************/
/**** CONTAINERS ***/
.total-container {
  width: 100%;
  height: calc(100vh -60px);
  display: flex;
}

/*** SIDEBAR SECTION ***/
.sidebar {
  min-width: 200px;
  flex-basis: 200px;
  height: calc(100vh - 60px);

  padding: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: grey;
  background-color: #000000;
}
.sidebar-cont1 {
  width: 100%;
}

.sidebar .side-logo {
  width: 60%;
}

.sidebar .side-tools {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.sidebar .side-tools .fa-solid {
  margin-right: 10px;
}
.sidebar .side-tools span {
  font-size: 12px;
}

/*** PLAYLIST SECTION ***/
.playlist-cont {
  width: 100%;
  min-height: 100px;
}
.playlist-cont > h6 {
  color: white;
  margin: 10px 0;
}
.playlist-cont span {
  font-size: 12px;
}

.playlist-cont .new-playlist {
  width: 100%;
  margin: 15px 0;
}

.playlist-cont .playlist-nest {
  width: 100%;
  min-height: 150px;
}

.playlist-cont .playlist-nest > div {
  font-size: 12px;
  line-height: 25px;
}

/*** Sidebar Cont 2 ***/
.sidebar-cont2 {
  width: 100%;
}

/**sidebar 2 install**/
.sidebar-cont2 .app-install {
  width: 100%;
  height: 50%;
  padding-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar-cont2 .app-install span {
  font-size: 12px;
}

/**PROFILE**/
.sidebar-cont2 .profile-cont {
  width: 100%;
  height: 50%;

  border-top: 1px solid grey;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.sidebar-cont2 .profile-cont img {
  width: 15px;
  height: 15px;
  background-color: #6f6f6f;
  border-radius: 50%;
  margin: 0 5px;
}

.sidebar-cont2 .profile-cont span {
  font-size: 12px;
}

/*** HIDE-BAR SECTION ****/
.hide-bar {
  width: 50px;
  height: calc(100vh - 60px);
  background-color: black;
  display: none;
}

/*** UPCONT SETTINGS ***/
.hide-bar .upcont {
  width: 100%;
  min-height: 150px;
}

.hide-bar .upcont .upslot.logo > img {
  width: 40px;
}

.hide-bar .upcont .upslot {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*** DOWNCONT SETTINGS  ***/
.hide-bar .downcont {
  width: 100%;
  min-height: 80px;
}

.hide-bar .downcont .downslot {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-bar .downcont .downslot > img {
  width: 20px;
  height: 20px;
  background-color: grey;
  border-radius: 50%;
}

/*** MAIN-CONTAINER SECTION ***/
.main-container {
  width: calc(100% - 200px);
  height: calc(100vh - 60px);

  background-color: #141922;
  /* border: 1.5px dashed rgb(255, 157, 0); */
  /* padding: 0px 5px; */
  overflow-y: auto;
  color: rgb(174, 174, 174);
}

/*** Upgrade Bar ***/
.upgrade-bar {
  width: calc(100% - 200px);
  min-height: 65px;

  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: right;
}

/*** Upgrade Button ***/
.upgrade-bar .up-bar-button {
  border: 1px solid white;

  padding: 10px 25px;

  color: white;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
  margin-right: 20px;
}

/*** main-nav bar ***/
.main-container .main-nav {
  width: 100%;
  min-height: 35px;

  margin-top: 70px;

  /* padding: 0 150px; */
  /* line-height: 35px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav ul {
  list-style: none;
  font-size: 10px;
  font-weight: bolder;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-nav ul li {
  margin: 5px 15px;
}

/*** list settings ***/

/*** ALBUM SECTION ***/
.albums-container > .playlist-title {
  width: 35%;
}

.albums-container > .playlist-title h3 {
  color: white;
}

/*** ALBUMS ***/

.albums-container {
  width: 100%;

  margin-top: 10px;
  padding: 10px;
}

.albums-container .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.albums-container .row .col {
  width: calc(100% / 6);
  padding: 10px;
}

.albums-container .row .col .card {
  width: 100%;
  min-height: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.albums-container .row .col .card > img {
  width: 100%;
  margin-bottom: 5px;
}
.albums-container .row .col .card h4 {
  color: white;
  margin-bottom: 5px;
  text-align: center;
}

#circle-img {
  border-radius: 50%;
  margin-bottom: 5px;
}
/*** FOOTER-CONTAINER SECTION ***/
.footer-container {
  width: 100%;
  min-height: 60px;

  /* border: 1.5px dashed blue; */
  padding: 2px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

/*** left bar ***/
.footer-container .left-footbar {
  width: 25%;
  height: 50px;

  /* border: 1.5px dashed greenyellow; */
  padding: 2px;

  display: flex;
  align-items: center;
  color: #6f6f6f;
}

.footer-container .left-footbar > img {
  width: 43px;
  margin-right: 5px;
}
.footer-container .left-footbar .song-title {
  margin-right: 10px;
}
.footer-container .left-footbar .song-title h5 {
  color: white;
}
.footer-container .left-footbar .song-title h6 {
  font-size: 10px;
}

/*** middle bar ***/
.footer-container .middle-footbar {
  width: 40%;
  height: 50px;

  /* border: 1.5px dashed greenyellow; */
  padding: 3px;
  color: white;
  flex-grow: 1;
}
/*** UPPER BLOCK --- ICONS ***/
.middle-footbar .middle-icons {
  height: 50%;
  text-align: center;
}

.middle-footbar .middle-icons .fa-solid,
.fa-regular {
  margin: 0 10px;
}

/*** LOWER BLOCK --- SONG BAR ***/
.song-timer-bar {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.progress-bar {
  display: block;
  width: 300px;
  height: 3px;
  background-color: #6f6f6f;
  border-radius: 2px;
  margin: 0 25px;
}

.progress-bar > .progression {
  display: block;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  width: 15%;

  position: relative;
}

.progress-bar > .progression > .progress-dot {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);

  /* display: none; */
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}

/*** right bar ***/
.footer-container .right-footbar {
  width: 25%;
  height: 50px;

  /* border: 1.5px dashed greenyellow; */
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/***ICON SETTINGS ***/

.right-footbar .right-icons .fa-solid {
  margin: 0 5px;
}

/*** VOLUME BAR SETTINGS ***/
.volume-level-bar {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px;
}

.volume-bar {
  display: block;
  width: 70px;
  height: 3px;
  background-color: #6f6f6f;
  border-radius: 2px;
  margin: 0 5px;
}

.volume-bar > .volume {
  display: block;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  width: 15%;

  position: relative;
}

.volume-bar > .volume > .volume-dot {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);

  /* display: none; */
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

/**end**/
