/*UTILITIES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/********************/
/**** CONTAINERS ***/
.total-container {
  width: 100%;
  height: calc(100vh -60px);

  border: 1.5px dashed red;
  display: flex;
}

/*** SIDEBAR SECTION ***/
.sidebar {
  min-width: 200px;
  flex-basis: 200px;
  height: calc(100vh - 60px);

  border: 1.5px dashed green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*** Sidebar Cont 1 ***/
.sidebar-cont1 {
  width: 100%;
  min-height: 200px;

  border: 1.5px dashed blue;
}

.sidebar .side-logo {
  width: 100%;
  height: 70px;

  border: 1.5px dashed rgb(55, 95, 240);
}

.sidebar .side-tools {
  width: 100%;
  height: 40px;

  border: 1.5px dashed purple;
}

.playlist-cont {
  width: 100%;
  min-height: 100px;

  border: 1.5px dashed orangered;
}

.playlist-cont .new-playlist {
  width: 100%;
  min-height: 50px;

  border: 1.5px dashed blue;
}

.playlist-cont .playlist-nest {
  width: 100%;
  min-height: 50px;

  border: 1.5px dashed rgb(13, 255, 0);
}

/*** Sidebar Cont 2 ***/
.sidebar-cont2 {
  width: 100%;
  min-height: 45px;

  border: 1.5px dashed rgb(238, 0, 255);
}

.sidebar-cont2 .app-install {
  width: 100%;
  min-height: 35px;

  border: 1.5px dashed rgb(0, 68, 255);
}

.sidebar-cont2 .profile-cont {
  width: 100%;
  min-height: 35px;

  border: 1.5px dashed rgb(13, 255, 0);
}

/*** HIDE-BAR SECTION ****/
.hide-bar {
  width: 50px;
  height: calc(100vh - 60px);

  border: 1.5px dashed rgb(0, 34, 255);
  display: none;
}
/*** UPCONT SETTINGS ***/
.hide-bar .upcont {
  width: 100%;
  min-height: 150px;

  border: 1.5px dashed rgb(0, 255, 102);
}

.hide-bar .upcont .upslot {
  width: 100%;
  height: 40px;

  border: 1.5px dashed lightcoral;
}

/*** DOWNCONT SETTINGS  ***/
.hide-bar .downcont {
  width: 100%;
  min-height: 80px;

  border: 1.5px dashed rgb(0, 255, 102);
}

.hide-bar .downcont .downslot-a {
  width: 100%;
  height: 40px;

  border: 1.5px dashed rgb(255, 238, 0);
}

.hide-bar .downcont .downslot-b {
  width: 100%;
  height: 40px;

  border: 1.5px dashed lightcoral;
}

/*** MAIN-CONTAINER SECTION ***/
.main-container {
  width: calc(100% - 200px);
  height: calc(100vh - 60px);

  border: 1.5px dashed rgb(255, 157, 0);
  /* padding: 0px 5px; */
  overflow-y: auto;
}

/*** Upgrade Bar ***/
.upgrade-bar {
  width: calc(100% - 200px);
  min-height: 65px;

  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: right;
}

/*** Upgrade Button ***/
.upgrade-bar .up-bar-button {
  border: 1px solid white;
  padding: 5px 25px;
  color: white;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
  margin-right: 20px;
}

/*** main-nav bar ***/
.main-container .main-nav {
  width: 100%;
  min-height: 35px;

  border: 1.5px dashed greenyellow;
  margin-top: 65px;

  /* padding: 0 150px; */
  /* line-height: 35px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav ul {
  list-style: none;
  font-size: 8px;
  font-weight: bold;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-nav ul li {
  margin: 5px 15px;
}

/*** list settings ***/

/*** ALBUM SECTION ***/
.albums-container > .playlist-title {
  width: 35%;
  border: 1.5px dashed blue;
}

/*** ALBUMS ***/

.albums-container {
  width: 100%;

  border: 1.5px dashed blue;
  margin-top: 10px;
  padding: 10px;
}

.albums-container .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.albums-container .row .col {
  width: calc(100% / 6);
  padding: 10px;

  border: 1.5px dashed rgb(0, 255, 68);
}

.albums-container .row .col .card {
  width: 100%;
  min-height: 50px;

  border: 1.5px dashed magenta;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albums-container .row .col .card > img {
  width: 100%;
  margin-bottom: 5px;
}

#circle-img {
  border-radius: 50%;
  margin-bottom: 5px;
}
/*** FOOTER-CONTAINER SECTION ***/
.footer-container {
  width: 100%;
  min-height: 60px;

  border: 1.5px dashed blue;
  padding: 2px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*** left bar ***/
.footer-container .left-footbar {
  width: 25%;
  height: 50px;

  border: 1.5px dashed greenyellow;
  padding: 2px;

  display: flex;
  align-items: center;
}

.footer-container .left-footbar > img {
  width: 43px;
  margin-right: 5px;
}
.footer-container .left-footbar .song-title {
  margin-right: 15px;
}
.footer-container .left-footbar .song-title h6 {
  font-size: 10px;
}

/*** middle bar ***/
.footer-container .middle-footbar {
  width: 40%;
  height: 50px;

  border: 1.5px dashed greenyellow;
  padding: 2px;
  flex-grow: 1;
}

/*** right bar ***/
.footer-container .right-footbar {
  width: 25%;
  height: 50px;

  border: 1.5px dashed greenyellow;
  padding: 2px;
}
