/*UTILITIES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************/
/**** CONTAINERS ***/
.total-container {
  width: 100%;
  min-height: 500px;

  border: 2px dashed red;
  display: flex;
}

/*** SIDEBAR SECTION ***/
.sidebar {
  width: 200px;
  height: 600px;

  border: 2px dashed green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*** Sidebar Cont 1 ***/
.sidebar-cont1 {
  width: 100%;
  min-height: 200px;

  border: 2px dashed blue;
}

.sidebar .side-logo {
  width: 100%;
  height: 70px;

  border: 2px dashed rgb(55, 95, 240);
}

.sidebar .side-tools {
  width: 100%;
  height: 40px;

  border: 2px dashed purple;
}

.playlist-cont {
  width: 100%;
  min-height: 100px;

  border: 2px dashed orangered;
}

.playlist-cont .new-playlist {
  width: 100%;
  min-height: 50px;

  border: 2px dashed blue;
}

.playlist-cont .playlist-nest {
  width: 100%;
  min-height: 50px;

  border: 2px dashed rgb(13, 255, 0);
}

/*** Sidebar Cont 2 ***/
.sidebar-cont2 {
  width: 100%;
  min-height: 45px;

  border: 2px dashed rgb(238, 0, 255);
}

.sidebar-cont2 .app-install {
  width: 100%;
  min-height: 35px;

  border: 2px dashed rgb(0, 68, 255);
}

.sidebar-cont2 .profile-cont {
  width: 100%;
  min-height: 35px;

  border: 2px dashed rgb(13, 255, 0);
}

/*** HIDE-BAR SECTION ****/
.hide-bar {
  width: 50px;
  height: 600px;

  border: 2px dashed rgb(0, 34, 255);
  display: none;
}
/*** UPCONT SETTINGS ***/
.hide-bar .upcont {
  width: 100%;
  min-height: 150px;

  border: 2px dashed rgb(0, 255, 102);
}

.hide-bar .upcont .upslot {
  width: 100%;
  height: 40px;

  border: 2px dashed lightcoral;
}

/*** DOWNCONT SETTINGS  ***/
.hide-bar .downcont {
  width: 100%;
  min-height: 80px;

  border: 2px dashed rgb(0, 255, 102);
}

.hide-bar .downcont .downslot-a {
  width: 100%;
  height: 40px;

  border: 2px dashed rgb(255, 238, 0);
}

.hide-bar .downcont .downslot-b {
  width: 100%;
  height: 40px;

  border: 2px dashed lightcoral;
}

/*** MAIN-CONTAINER SECTION ***/
.main-container {
  width: calc(100% - 200px);
  min-height: 600px;

  border: 2px dashed rgb(255, 157, 0);
}

/*** FOOTER-CONTAINER SECTION ***/
.footer-container {
  width: 100%;
  min-height: 60px;

  border: 2px dashed blue;
  display: block;
}
